<script type="text/javascript" src="/static/plugins/{{ plugin }}/annotations.js?v={{ sha }}"></script>
<link rel="stylesheet" type="text/css" href="/static/plugins/{{ plugin }}/annotations.css?v={{ sha }}">

<div id="svelte-annotations"></div>

<script type="text/javascript">

require(['svelte/{{ plugin }}/annotations'], function(mod) {
    var App = mod.App;

    var chartData = {{ chart.toStruct() | json | raw }};
    var chart = new mod.Chart(chartData);
    var themeData = {{ theme.data | json | raw }};
    chart.set({ themeData: themeData });

    var controlsApp = new App({
        store: chart,
        target: document.querySelector('#svelte-annotations')
    });
    window.controlsApp = controlsApp;

    chart.on('state', function (_ref) {
        var changed = _ref.changed;
        var current = _ref.current;
        var previous = _ref.previous;

        if (previous && changed.metadata) {
            chart.store();
        }
    });

    function getContext(callback) {
        var win = $('#iframe-vis').get(0).contentWindow;
        var doc = $('#iframe-vis').get(0).contentDocument;
        if (!win || !win.__dw || !win.__dw.vis) {
            return setTimeout(function () {
                getContext(callback);
            }, 200);
        }
        callback(win, doc);
    }

    $('#iframe-vis').load(function () {
        getContext(function(win, doc) {
            controlsApp.set({
                iframeWindow: win,
                iframeDocument: doc
            });
        });
    });
});

</script>
